*.sdf
*.sln
*.suo
bin/
bin64/
arm64/
vs.proj/Debug
vs.proj/Release
vs.proj/x64
vs.proj/ARM64
vs.proj/Win32
vs.proj/NppPluginTemplate.opensdf
vs.proj/NppPluginTemplate.exp
vs.proj/NppPluginTemplate.lib
vs.proj/NppPluginTemplate.vcxproj.user
vs.proj/.vs/
*.aps
*.zip
*.bak
/src/DUCalculator
*.exp
*.lib
/.vs/VSWorkspaceState.json
/.vs/notepadpp-multireplace/v17/.wsuo
*.tlog
*.obj
*.log
*.ilk
*.recipe
*.idb
*.pdb
*.res
/.vs/notepadpp-multireplace/v17/DocumentLayout.json
/.vs/notepadpp-multireplace/v17/Browse.VC.db
/.vs/notepadpp-multireplace/v17/Solution.VC.db
/.vs/notepadpp-multireplace/v17/DocumentLayout.backup.json
/vs.proj/MultiReplace/x64/Debug/MultiReplace.vcxproj.FileListAbsolute.txt
/.vs/slnx.sqlite
