*.sdf
*.sln
*.suo
bin/
bin64/
arm64/
vs.proj/Debug
vs.proj/Release
vs.proj/x64
vs.proj/ARM64
vs.proj/NppPluginTemplate.opensdf
vs.proj/NppPluginTemplate.exp
vs.proj/NppPluginTemplate.lib
vs.proj/NppPluginTemplate.vcxproj.user
vs.proj/.vs/
*.aps
*.zip
*.bak
/src/DUCalculator
/vs.proj/Win32/Debug/vc143.pdb
/vs.proj/Win32/Debug/vc143.idb
/vs.proj/Win32/Debug/StaticDialog.obj
/vs.proj/Win32/Debug/resource.res
/vs.proj/Win32/Debug/PluginDefinition.obj
/vs.proj/Win32/Debug/NppMultiReplace.vcxproj.FileListAbsolute.txt
/vs.proj/Win32/Debug/NppMultiReplace.tlog/rc.write.1.tlog
/vs.proj/Win32/Debug/NppMultiReplace.tlog/rc.read.1.tlog
/vs.proj/Win32/Debug/NppMultiReplace.tlog/rc.command.1.tlog
/vs.proj/Win32/Debug/NppMultiReplace.tlog/NppMultiReplace.lastbuildstate
/vs.proj/Win32/Debug/NppMultiReplace.tlog/link.write.2u.tlog
/vs.proj/Win32/Debug/NppMultiReplace.tlog/link.write.1.tlog
/vs.proj/Win32/Debug/NppMultiReplace.tlog/link.read.1.tlog
/vs.proj/Win32/Debug/NppMultiReplace.tlog/link.command.1.tlog
/vs.proj/Win32/Debug/NppMultiReplace.tlog/CL.write.1.tlog
/vs.proj/Win32/Debug/NppMultiReplace.tlog/CL.read.1.tlog
/vs.proj/Win32/Debug/NppMultiReplace.tlog/CL.command.1.tlog
/vs.proj/Win32/Debug/NppMultireplace.res
/vs.proj/Win32/Debug/NppMultiReplace.pdb
/vs.proj/Win32/Debug/NppMultireplace.obj
/vs.proj/Win32/Debug/NppMultiReplace.log
/vs.proj/Win32/Debug/NppMultiReplace.lib
/vs.proj/Win32/Debug/NppMultiReplace.ilk
/vs.proj/Win32/Debug/NppMultiReplace.exp
/vs.proj/Win32/Debug/NppMultiReplace.dll.recipe
/vs.proj/Win32/Debug/NppMultiReplace.dll
/vs.proj/Win32/Debug/MultiReplace.obj
/vs.proj/Win32/Debug/DialogUnitCalculator.obj
/vs.proj/Win32/Debug/AboutDialog.obj
