#include <windows.h>
#include <commctrl.h>
#include "resource.h"

IDD_REPLACE_DIALOG DIALOGEX 0, 0, 276, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Replace Dialog"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
LTEXT "Find:", IDC_STATIC, 7, 7, 50, 14
COMBOBOX IDC_FIND_EDIT, 50, 7, 219, 100, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL

LTEXT "Replace:", IDC_STATIC, 7, 29, 50, 14
COMBOBOX IDC_REPLACE_EDIT, 50, 29, 219, 100, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL

CONTROL "Whole word", IDC_WHOLE_WORD_CHECKBOX, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 53, 100, 14
CONTROL "Match case", IDC_MATCH_CASE_CHECKBOX, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 76, 100, 14
CONTROL "Use regex", IDC_REGEX_CHECKBOX, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 99, 100, 14
CONTROL "Extended", IDC_EXTENDED_CHECKBOX, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 130, 76, 70, 14

DEFPUSHBUTTON "Replace all", IDC_REPLACE_ALL_BUTTON, 130, 53, 60, 14
PUSHBUTTON "Mark Matches", IDC_MARK_MATCHES_BUTTON, 200, 53, 60, 14
PUSHBUTTON "Clear all marks", IDC_CLEAR_MARKS_BUTTON, 200, 76, 60, 14
PUSHBUTTON "Copy Marked Text", IDC_COPY_MARKED_TEXT_BUTTON, 200, 99, 60, 14

END


