#include <windows.h>
#include <commctrl.h>
#include "resource.h"

IDD_REPLACE_DIALOG DIALOGEX 0, 0, 276, 119
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Replace Dialog"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
LTEXT "Find:", IDC_STATIC, 7, 7, 50, 14
EDITTEXT IDC_FIND_EDIT, 50, 7, 219, 14, ES_AUTOHSCROLL

LTEXT "Replace:", IDC_STATIC, 7, 29, 50, 14
EDITTEXT IDC_REPLACE_EDIT, 50, 29, 219, 14, ES_AUTOHSCROLL

DEFPUSHBUTTON "OK", IDC_OK_BUTTON, 130, 53, 60, 14
PUSHBUTTON "Cancel", IDC_CANCEL_BUTTON, 196, 53, 60, 14
END
