#include <windows.h>
#include <commctrl.h>
#include "resource.h"

IDD_REPLACE_DIALOG DIALOGEX 0, 0, 276, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "MultiReplace"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
LTEXT "Find:", IDC_STATIC, 7, 7, 50, 12
COMBOBOX IDC_FIND_EDIT, 50, 7, 219, 100, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL

LTEXT "Replace:", IDC_STATIC, 7, 29, 50, 12
COMBOBOX IDC_REPLACE_EDIT, 50, 29, 219, 100, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL

CONTROL "Match whole word only", IDC_WHOLE_WORD_CHECKBOX, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 50, 63, 100, 14
CONTROL "Match case", IDC_MATCH_CASE_CHECKBOX, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 50, 78, 50, 14

GROUPBOX "Search Mode", IDC_SEARCH_MODE_GROUP, 160, 53, 109, 55
CONTROL "Normal", IDC_NORMAL_RADIO, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 165, 63, 50, 10
CONTROL "Regular expression", IDC_REGEX_RADIO, "Button", BS_AUTORADIOBUTTON, 165, 78, 100, 10
CONTROL "Extended (\\n, \\r, \\t, \\0, \\x...)", IDC_EXTENDED_RADIO, "Button", BS_AUTORADIOBUTTON, 165, 93, 100, 10

DEFPUSHBUTTON "Replace All", IDC_REPLACE_ALL_BUTTON, 290, 7, 80, 14
PUSHBUTTON "Mark Matches", IDC_MARK_MATCHES_BUTTON, 290, 30, 80, 14
PUSHBUTTON "Clear all marks", IDC_CLEAR_MARKS_BUTTON, 290, 53, 80, 14
PUSHBUTTON "Copy Marked Text", IDC_COPY_MARKED_TEXT_BUTTON, 290, 76, 80, 14
PUSHBUTTON "Add to Replace List", IDC_COPY_TO_LIST_BUTTON, 290, 108, 80, 28
PUSHBUTTON "Replace All Using List", IDC_REPLACE_ALL_IN_LIST_BUTTON, 290, 145, 80, 14

CONTROL "", IDC_REPLACE_LIST, "SysListView32", LVS_REPORT | LVS_OWNERDATA | LVS_NOCOLUMNHEADER | WS_BORDER | WS_TABSTOP | WS_VSCROLL, 7, 122, 262, 100


END



