//this file is part of notepad++
//Copyright (C)2022 Thomas Knoefel
//
//This program is free software; you can redistribute it and/or
//modify it under the terms of the GNU General Public License
//as published by the Free Software Foundation; either
//version 2 of the License, or (at your option) any later version.
//
//This program is distributed in the hope that it will be useful,
//but WITHOUT ANY WARRANTY; without even the implied warranty of
//MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//GNU General Public License for more details.
//
//You should have received a copy of the GNU General Public License
//along with this program; if not, write to the Free Software
//Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.

#include <windows.h>
#include <commctrl.h>
#include "resource.h"

IDD_REPLACE_DIALOG DIALOGEX 0, 0, 100, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "MultiReplace"
BEGIN
END

IDD_ABOUT_DIALOG DIALOGEX 0, 0, 200, 140
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "MultiReplace Plugin"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
DEFPUSHBUTTON   "OK", IDOK, 70, 110, 60, 20
LTEXT           "Version:",          IDC_VERSION_LABEL, 20, 20, 60, 15
CONTROL         "4.3.2.28",          IDC_VERSION_STATIC, "Static", SS_LEFT | WS_VISIBLE, 85, 20, 100, 15
LTEXT           "Author:",           IDC_AUTHOR_LABEL, 20, 40, 60, 15
CONTROL         "Thomas Knoefel",    IDC_NAME_STATIC, "Static", SS_NOTIFY | WS_VISIBLE, 85, 40, 130, 15
LTEXT           "License:",          IDC_LICENSE_LABEL, 20, 60, 60, 15
CONTROL         "GPLv3",             IDC_LICENSE_STATIC, "Static", SS_LEFT | WS_VISIBLE, 85, 60, 100, 15
CONTROL          "Help and Support", IDC_WEBSITE_LINK, "Static", SS_NOTIFY | WS_VISIBLE, 25, 80, 150, 20
END

IDI_MR_ICON ICON "resources\multireplace_ico_black.ico"
IDI_MR_DM_ICON ICON "resources\multireplace_ico_white.ico"

1 RT_MANIFEST "MultiReplacePanel.manifest"